.chat-entry {
    display: flex;
    padding: 10px 10px 0 10px;
    text-decoration: none;
    color: black;
}

.chat-entry .avatar img {
    border: 1px solid #ccc;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    margin-right: 10px
}

.chat-entry .info {
    border-bottom: 1px solid #ccc;
    flex: 1 1 auto;
    padding-bottom: 10px;
}

.chat-entry:last-child .info {
    border-bottom: 0;
}

.chat-entry .info .title {
    display: flex;
    justify-content: space-between;
}

.chat-entry .info .title-date {
    font-size: 80%;
    color: #999;
}

.chat-entry .info .last-message {
    color: #999;
}
